.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 578px;
	margin-top: 54px;
}

.title {
	margin-bottom: 24px;
	font-size: 32px;
	font-weight: 800;
	line-height: 38.4px;
	color: #fff;
	text-align: center;
}

.subtitle {
	max-width: 490px;
	margin: 0 auto 37px;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	color: #fff;
	text-align: center;
}

.enter {
	display: flex;
	gap: 8px;
	width: 100%;
}

.or {
	margin-top: 56px;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 800;
	line-height: 24px;
	color: #fff;
	text-align: center;
}