.header {
	position: relative;
	display: flex;
	gap: 32px 24px;
	align-items: center;
	justify-content: space-between;
	height: 96px;
	padding: 14px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
	width: 212px;
	height: 35px;
	background: url('../../images/logo.png') center / contain no-repeat;
}

.login {
	display: flex;
	gap: 24px;
	align-items: center;
	justify-self: flex-end;
	padding-left: 24px;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	color: #fff;
	cursor: pointer;
	user-select: none;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	transition: color var(--trs-speed);
	
	&:hover {
		color: var(--blue);
		
		.icon path {
			fill: var(--blue);
		}
	}
	
	&:active {
		color: var(--light-blue);
		
		.icon path {
			fill: var(--light-blue);
		}
	}
}

.logout {
	opacity: 0;
}

.icon {
	display: flex;
	width: 48px;
	height: 48px;
	
	path {
		transition: fill var(--trs-speed);
	}
}

.search {
	max-width: 714px;
}

@media (max-width: 1100px) {
	
	.search {
		max-width: 463px;
	}
}

@media (max-width: 999px) {
	
	.header .logo {
		width: 172px;
		height: 35px;
	}
}

@media (max-width: 767px) {
	
	.header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		height: auto;
		padding: 20px 20px 8px;
		border: none;
	}
	
	.logo {
		width: 175px;
		height: 35px;
	}
	
	.login {
		padding: 0 !important;
		border: none !important;
		
		span:first-child {
			display: none;
		}
	}
	
	.icon {
		width: 32px;
		height: 32px;
	}
	
	.search {
		order: 3;
	}
}