{
  "presets": ["next/babel"],
  "plugins": [
    ["effector/babel-plugin", { "addLoc": true, "reactSsr": true }],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@app": "./src"
        }
      }
    ]
  ]
}
