$fallback-font: Helvetica, Arial, sans-serif;
$font: Merriweather $fallback-font;

.typography_h1 {
  font-family: $font;
  font-size: 48px;
  font-weight: 800;
  line-height: 57.6;
}

.typography_h2 {
  font-family: $font;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
}

.typography_h3 {
  font-family: $font;
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;
}

.typography_paragraph {
  font-family: $font;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
