$background-black: #17171A;

$button-light-blue: #71BBFF;
$button-dark-blue: #0127F1;
$button-blue: #0178FF;

$font-general: #FFFFFF;
$font-sky-blue: #0178FF;
$font-light-blue: #71BBFF;
$font-link: #0B92FF;
