.root {
	width: 100%;
	max-width: 648px;
	margin-top: 12px;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-bottom: 32px;
}

.title {
	font-size: 64px;
	font-weight: 800;
	line-height: 76.8px;
	color: #fff;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 64px;
}