.card {
  display: grid;

  // mobile
  grid-template:
    'header'
    'info'
    'content'
    'actions'
    'bar';

  // desktop
  //   grid-template:
  //     'bar header'
  //     'bar info'
  //     'bar content'
  //     'bar actions';
}

.bar {
  grid-area: bar;
}

.header {
  grid-area: header;
}

.info {
  display: grid;
  grid-area: info;
  grid-template-columns: max-content max-content;
  gap: 20px;
}

.actions {
  grid-area: actions;
}

.content {
  grid-area: content;
}
