.aside {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
	max-width: 484px;
	transform: translateX(122px);
	
	.container {
		padding: 24px;
		background: #0F0F12;
		border-radius: 6px;
	}
}

@media (max-width: 1300px) {
	.aside {
		max-width: 327px;
		transform: translateX(100px);
	}
}
