@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;600;700;800&display=swap');

:root {
	--blue: #0178FF;
	--light-blue: #71BBFF;
	--bg: #252528;
	--bg-hover: #202029;
	--bg-active: #0F0F12;
	--trs-speed: .2s ease-in-out;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.01em;
	background: #17171A;
}


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.main {
	display: flex;
	justify-content: center;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 100px;
	overflow: hidden;
	
	@media (max-width: 767px) {
		padding-right: 20px;
		padding-left: 20px;
		margin-top: 0;
	}
}

.swiper-container {
	width: 100%;
	overflow: initial!important;
	max-width: 560px;
}

.swiper-slide {
	width: auto!important;
}

.swiper-navigation {
	display: flex;
	align-items: center;
	gap: 32px;
}

.swiper-arrows {
	display: flex;
	user-select: none;
}

.swiper-arrow {
	display: flex!important;
	align-items: center;
	width: 42px!important;
	height: 42px!important;
	cursor: pointer;
	
	&_next {
		justify-content: flex-end;
	}
	
	&.swiper-button-disabled {
		pointer-events: none;
		opacity: .2;
	}
	
	svg {
		width: 14px;
		height: 14px;
	}
}

.swiper-button-prev, .swiper-button-next {
	all: unset!important;
	
	&:after {
		display: none;
	}
}

.swiper-scrollbar {
	width: 100%;
	height: 8px;
	background: #232327 !important;
	border-radius: 2px!important;
	
	&-drag {
		background: #3C3C43!important;
		border-radius: 2px!important;
	}
}