@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;600;700;800&display=swap');

:root {
	--blue: #0178FF;
	--dark-blue: #0127F1;
	--light-blue: #71BBFF;
	--bg: #252528;
	--bg-hover: #202029;
	--bg-active: #0F0F12;
	--trs-speed: .2s ease-in-out;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.01em;
	background: #17171A;
}


* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.main {
	display: flex;
	justify-content: center;
	gap: 100px;
	padding-right: 30px;
	padding-bottom: 100px;
	padding-left: 30px;
	overflow: hidden;
	
	@media (max-width: 767px) {
		padding-right: 20px;
		padding-left: 20px;
		margin-top: 0;
	}
}
