.title {
	margin: 0;
	font-weight: 700;
	line-height: normal;
	color: #fff;
	
	&_0 {
		font-size: 48px;
	}
	
	&_1 {
		font-size: 32px;
	}
	
	&_2 {
		font-size: 24px;
	}
}

@media (max-width: 1300px) {
	.title {
	
		&_0 {
			font-size: 32px;
		}
		
		&_1 {
		
		}
		
		&_2 {
		
		}
	}
}

@media (max-width: 767px) {
	.title {
		
		&_0 {
			font-size: 28px;
		}
		
		&_1 {
			font-size: 28px;
			line-height: 33.6px;
		}
		
		&_2 {
			font-size: 20px;
			line-height: 24px;
		}
	}
}