.root {
	display: flex;
	align-items: center;
	padding: 10px 0;
	cursor: pointer;
	user-select: none;
	border-radius: 6px;
	
	span {
		font-size: 18px;
		font-weight: 700;
		line-height: 21.6px;
		color: #fff;
		transition: color var(--trs-speed);
	}
	
	&:hover {
		
		span {
			color: var(--blue);
		}
		
		.icon svg path {
			fill: var(--blue);
		}
	}
	
	&:active {
		
		span {
			color: var(--light-blue);
		}
		
		.icon svg path {
			fill: var(--light-blue);
		}
	}
}

.icon {
	width: 14px;
	height: 14px;
	margin-right: 23px;
	
	path {
		transition: fill var(--trs-speed);
	}
}