.root {
	display: flex;
	align-items: center;
	padding: 8px 16px 8px 8px;
	cursor: pointer;
	user-select: none;
	background: #252528;
	border-radius: 6px;
	transition: background var(--trs-speed);
	
	&:hover {
		background: #202029;
		
		.name {
			color: var(--blue);
		}
	}
	
	&:active {
		background: #0F0F12;
		
		.name {
			color: var(--light-blue);
		}
	}
}

.icon {
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	margin-right: 16px;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 50%;
}

.name {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #fff;
	transition: color var(--trs-speed);
}