.root {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 72px;
	height: 72px;
	cursor: pointer;
	background: #2E2E31;
	border-radius: 6px;
	transition: background var(--trs-speed);
	
	&:hover {
		background: #202029;
		
		.icon path {
			fill: var(--blue)
		}
	}
	
	&:active {
		background: #0F0F12;
		
		.icon path {
			fill: var(--light-blue)
		}
	}
}

@media (max-width: 600px) {
	
	.root {
		display: grid;
		grid-template-rows: auto auto;
		grid-auto-flow: column;
	}

	.item {
		width: 56px;
		height: 56px;
		
		svg {
			width: 40px;
			height: 40px;
		}
	}
}