.video-bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  //position: absolute;
  //z-index: 0;
  border-radius: 6px;
  //left: 0;
  //top: 0;
  //
  //&::before {
  //  content: 'test';
  //  color: white;
  //}
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  rect {
    fill: white;
  }

  & > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
  }

  text {
    font-size: 24px;
  }
}

.wrapper {
  position: relative;
  width: 295px;
  height: 56px;
}

.galo-button {
  background: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 28.8px;
  display: flex;
  padding: 0 0 0 24px;
  margin: 0;
  border: 0;
  border-radius: 6px;
  color: transparent;
  -webkit-background-clip: text;

  &_type {
    &__text {

    }

    &__primary {

    }

    &__default {

    }
  }

  &_size {
    &__middle {
      width: 295px;
      height: 56px;
      line-height: 56px;
    }

    &__large {
      width: 295px;
      height: 56px;
      line-height: 56px;
    }
  }
}
