@import "../colors";
@import "../fonts";
@import "../misc";

.root {
  display: inline-flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: 0;
}
.label {
  font-family: $font;
  font-size: 24px;
  font-weight: bold;
  line-height: 120%;
  color: #fff;
  letter-spacing: 0.01em;
  @include base-transition('color');
  .root:focus &,
  .root:hover & {
    color: $button-blue;
  }
  .root:active & {
    color: $button-light-blue;
  }
}
.icon {
  flex-shrink: 0;
  padding: 8px 8px 8px 0;
  margin-left: 32px;
}
