.info {
	display: flex;
	gap: 16px 32px;
	align-items: center;
	margin-top: 16px;
}

.row {
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #CECECE;
}

.type {
	padding: 4px 8px;
	font-size: 16px;
	line-height: 1.2;
	color: #CECECE;
	background: #313136;
	border-radius: 4px;
}

.icon {
	width: 24px;
	height: 24px;
	margin-right: 16px;
}

@media (max-width: 767px) {
	
	.row {
		font-size: 13px;
	}
	
	.icon {
		width: 12px;
		height: 12px;
		margin-right: 5px;
	}
}